*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    height: 100vh;
    width: auto;
    background: linear-gradient(135deg,#153677,#4e085f);
    padding: 10px;
}
.todo-app{
    width: 100%;
    max-width: 540px;
    background: white;
    margin:100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 20px;
}

.todo-app h1{
  color: #153677;
  margin-bottom: 20px;
}

.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(224, 217, 213);
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 20px;
  
    
}

.row input{
   flex:1;
   border: none;
   outline: none;
   background: transparent;
   padding: 10px;
}
.row button{

    border: none;
    outline: none;
    padding:16px 50px;
    background-color: rgb(21, 217, 217);
    border-radius: 30px;
    font-size: 17px;
    font-weight: bold;
    color: black;
    cursor: pointer;
}

ul li{
    display: flex; 
    align-items: center; 
    position: relative; 
    list-style: none;
    font-size: 17px;
    padding:5px 2px;
    cursor: pointer;
}
  

ul li.checked{
    color: #555;
    text-decoration: line-through;
}

ul li span {
    margin-left: auto; /* Push span to the right */
    margin-right: 0; /* Ensure margin-right is 0 */
    width: 40px;
    height: 40px;
    font-size: 22px;
    text-align: center;
    display: inline-flex; /* Center the text inside the span */
    align-items: center;
    justify-content: center;
}

ul li span:hover{

    background-color: #f0eded;
    border-radius: 80px;
}
